{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Maldonado Produções Ltda<br />
    Rua Rocato, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    69696-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@maldonadoproducoes.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@maldonadoproducoes.com">Marketing@example.com</a>
</address>

{% endblock %}
